<section class="section">
  <main class="container">
    <div class="columns is-multiline is-centered contain">
      <div class="column left">
        <h1 class="title is-1 u-margin-bottom">Sprouge</h1>
        <h2 class="subtitle colored is-4 primary-color">Take your conversation beyond email with Sprouge</h2>
        <p>Sprouge’s email and calendar tools help you communicate,
          stay on top of what matters, and get things done.</p>
      </div>
      <div class="column right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</section>


