<h1 class="title is-4">Login</h1>
<p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
<form action="">
  <div class="field">
    <div class="control">
      <input class="input is-medium" type="email" placeholder="Email">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-medium" type="password" placeholder="Password">
    </div>
  </div>
  <button class="button is-block is-primary is-fullwidth is-medium">Login</button>
  <p class="text-center">
    Don't have an account
    <a [routerLink]="['signup']" class="login-color">Sign Up</a>
  </p>
</form>
