<h1 class="title is-4">Sign up today</h1>
<p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
<form action="">
  <div class="field">
    <div class="control">
      <input class="input is-medium" type="text" placeholder="First Name">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-medium" type="text" placeholder="Last Name">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-medium" type="email" placeholder="Email">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-medium" type="password" placeholder="Password">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-medium" type="password" placeholder="Confirm Password">
    </div>
  </div>
  <button class="button is-block is-primary is-fullwidth is-medium">Submit</button>

  <p class="text-center">
    Already have an account
    <a [routerLink]="['']" class="login-color">Login</a>
  </p>

</form>
