<h1 class="title is-4">Sign Up</h1>
<p class="description">Let's get started!</p>
<form action="">
  <div class="field">
    <div class="control">
      <input class="input is-medium" type="text" placeholder="First Name">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-medium" type="text" placeholder="Last Name">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-medium" type="email" placeholder="Email">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-medium" type="password" placeholder="Password">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-medium" type="password" placeholder="Confirm Password">
    </div>
  </div>
  <button class="button is-block is-primary is-fullwidth is-medium">Submit</button>
  <br>
  <small class="has-text-centered">
    <em>
      Already have an account
      <a [routerLink]="['']" class="primary-color">Login</a>
    </em>
  </small>

</form>
